.box {
  margin: auto;
  width: 50%;
  border: 3px solid #355681;
  padding: 10px;
}

#root {
  margin-top: 50px;
}

.title {
  margin: 1em 0 0.5em 0;
	font-weight: normal;
	position: relative;
	text-shadow: 0 -1px rgba(0,0,0,0.6);
	font-size: 28px;
	line-height: 40px;
	background: #355681;
	background: rgba(53,86,129, 0.8);
	border: 1px solid #fff;
	padding: 5px 15px;
	color: white;
	border-radius: 0 10px 0 10px;
	box-shadow: inset 0 0 5px rgba(53,86,129, 0.5);
	font-family: 'Muli', sans-serif;
  text-align: center ;
}

.strikecolor {
	color: red;
}